<h1>Open Weather Map Forecast</h1>
<div>
        <div id="location_strip">
            <div id="current_location_entry" class="weather_field permanent">
          <span class="weather_name">
	          CURRENT LOCATION:
	        </span>
            </div>
            <div id="list">
                <div class="field" data-lat="{{lat}}" data-lon="{lon}}">
                    <!--:city.name-->
                    <span class="weather_name">{{name}} {{country}}</span>
                </div>
                <div class="field">
                    <span class="name">{{list}}</span>
                </div>
                <div class="field">
                    <span>Week temperatures: </span>
                </div>
                <div class="field">
                    <span class="temp">Min: {{temp_min}} &#8451;</span>
                </div>
                <div class="field">
                    <!--:list.main-->
                    <span class="temp">Max: {{temp_max}} &#8451;</span>
                </div>
            </div>
        </div>
</div>

<!--{{#each weathers}}-->
        <!--{{/each}}-->