<div>
    <h2><strong>OpenWeatherMap</strong> | <em>Forecast</em></h2>
    <div>
        <div>
          <span class="weather">
	          CURRENT LOCATION: <span class="city"><strong>{{city.name}}, {{city.country}}</strong></span>
	        </span>
        </div>
        <hr>
        <div id="city_weather">
            <div class="coord">
                 <span>Lat: {{city.coord.lat}} and Lon: {{city.coord.lon}}</span>
            </div>
            <br>
            <div class="week_temps">
                <span>Week temperatures: </span>
            </div>
            <hr>
            {{#with list.[0]}}
            <div>
                <span>Min: {{main.temp_min}} K</span>
            </div>
            <div>
                <span>Max: {{main.temp_max}} K</span>
            </div>
            {{/with}}
        </div>
    </div>
</div>